.main{
    margin: 60px;
    padding: 20px;
    border: 1px solid black;
    
}

.second{
    margin: 10px;
}
h4{
    margin-bottom: 50px;
}

ol{
    margin-left: 80px;
}

h5{
    margin-left: 60px;
}